/* App only style */

#jp-main-content-panel .jp-MainAreaWidget {
  background: var(--jp-layout-color1);
}

.specta-document-viewer #jp-main-content-panel jp-toolbar:first-of-type {
  display: none;
  height: 0px !important;
}

.specta-file-browser {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 10px !important;
  padding: 50px 20px;
  background: var(--jp-layout-color3);
}

.specta-file-browser jp-toolbar {
  display: block !important;
  margin: 0 !important;
  padding-left: 10px !important;
}

.specta-file-browser .jp-SidePanel-content {
  background: var(--jp-layout-color1);
  box-shadow: var(--jp-elevation-z4);
}

.specta-main-content-panel {
  padding-left: 0px;
  padding-right: 0px;
}
